/* CSS styles for responsive website */

/* Global styles */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Header styles */
header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 60px;
}
.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.logo h1 {
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
  font-weight: 700;
}
.logo h1 span {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-gamer-other ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar-gamer-other ul li {
  margin-right: 20px;
}
.navbar-gamer-other ul li a {
  font-size: 18px;
  font-weight: 500;
  color: #3c354f;
}
.logo-color {
  width: 200px;
  height: auto;
  padding: 17px 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  font-size: 18px;
  font-weight: 500;
  color: #3c354f;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo-color a {
  font-weight: 500;
  margin-right: 10px;
}

/* Banner section styles */
.banner-section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.banner-title {
  max-width: 50%;
}

.banner-title h3 {
  font-size: 48px;
  font-weight: 600;
  color: #0b0223;
  text-transform: uppercase;
}

.banner-title h1 {
  font-size: 96px;
  font-weight: 800;
  margin-bottom: 20px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-title h6 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #534c53;
}

.banner-img img {
  max-width: 100%;
}
.btn1 {
  padding: 21px 40px;
  border-radius: 48px;
  background: #ff42a5;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: 0px;
  text-transform: uppercase;
  margin-right: 10px;
}
.btn2 {
  margin-top: 25px;
  padding: 21px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: 0px;
  text-transform: uppercase;
}

/* Container section 2 styles */
.container-section2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.container-section2 img {
  max-width: 50%;
}

.container-section2 div {
  max-width: 50%;
  text-align: right;
  padding: 0px 50px 0px 0px;
}

.container-section2 h1 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.container-section2 p {
  width: 520px;
  font-size: 18px;
  font-weight: 400;
  color: #534c64;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.container-section2 button {
  background-color: #ff42a5;
  color: #fff;
  border: none;
  padding: 21px 40px;
  border-radius: 48px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0px;
  cursor: pointer;
}
.container-p span #paragraph {
  color: #534c64;
  font-size: 24px;
  font-weight: 500;
}
.container-p {
  margin-bottom: 20px;
}

.container-p .paragraph {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
}

/* Container section 3 styles */
.section3-title {
  text-align: center;
  padding: 60px 0;
}

.section3-title h1 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section3-title p {
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.section3-title h1 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-section3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0px 100px;
}

.card {
  text-align: center;
}

.card img {
  max-width: 100%;
}

.card p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
.image-container {
    position: relative;
    display: inline-block;
    
  }
  
  .overlay {
    background-color: #0b0223;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .overlay i{
    opacity: 0.5; /* Adjust the opacity as desired */
  }
  
/* Container section 4 styles */
.container-section4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.container-section4 div {
  max-width: 50%;
}

.container-section4 h1 {
  font-size: 48px;
  font-weight: 700;
  color: #0b0223;
  margin-bottom: 20px;
  text-align: right;
}
.container-section4 h1 span {
  color: #f948b2;
}
.container-section4 p {
  font-size: 18px;
  font-weight: 400;
  color: #534c64;
  text-align: right;
  margin-bottom: 20px;
}

.container-img {
  max-width: 80%;
}

.img-logo img {
  max-width: 80%;
}
.img-logo {
  position: relative;
  bottom: 200px;
  right: 145px;
}
/* Container section 5 styles */
.container-section5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.container5-img {
  max-width: 50%;
}
.img-logo1 img {
  max-width: 50%;
}

.container-section5 div {
  max-width: 50%;
}
.img-logo1 {
  position: relative;
  bottom: 120px;
  left: 245px;
}
.container-section5 h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #0b0223;
}
.container-section5 h1 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-section5 p {
  font-size: 18px;
  font-weight: 400;
  color: #534c64;
  margin-bottom: 20px;
}

/* Container section 6 styles */
.container-section6 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 50px 0; */
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.section6-title {
  max-width: 50%;
}
.section6-img {
  max-width: 50%;
}
.section6-title h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section6-title p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.container-section6 .title-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container-section6 button {
  border-radius: 48px;
  background: #fff;
  color: #f948b2;
  border: none;
  padding: 21px 40px;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.section6-img img {
  max-width: 100%;
}

/* Container section 7 styles */
.container-section7 {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  width: 100%;
  height: 427px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  /* margin: auto; */
}

.card1 {
  width: 205px;
  height: auto;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  display: flex;
  border: 1px solid #ff42a5;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card1 img {
  max-width: 100%;
}

.card1 a {
  font-size: 18px;
  font-weight: 700;
}

/* Footer styles */
footer {
  background: #0b0223;
  padding: 20px;
  text-align: center;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-logo h1 {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  margin: 0px 8px;
}
.footer-logo h1 span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  flex-wrap: wrap;
  margin-top: 20px;
}
.footer-content p {
  margin: 0 10px;
}
.footer-img {
  display: grid;
  grid-template-columns:repeat(6,1fr);
  padding: 20px 300px;
}

.footer-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
}
.footer-part p {
  margin: 0 10px;
}
.copyright {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
}
/* Media queries for tablet screens */
@media only screen and (max-width: 768px) {
  .container-section3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .container-section2 img,
  .container-section4 img .container5-img,
  .section6-img img,
  .banner-img img {
    max-width: 100%;
  }
  .container-section4,
  .container-section5,
  .container-section6 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .container-section3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .container-section7 {
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-title,
  .navbar-gamer-other ul {
    flex-direction: column;
    box-shadow: none;
  }
  .footer-img{
    grid-template-columns: repeat(3,1fr);
    padding:5px 0px;
  }
}
/* Media queries for mobile screens */
@media screen and (max-width: 425px) {
  .banner-title h1 {
    font-size: 45px;
    text-align: left;
  }
  .banner-title h3 {
    text-align: left;
    font-size: 24px;
  }
  .banner-title h6 {
    font-size: 18px;
    text-align: left;
  }
  .btn1,
  .btn2 {
    padding: 11px 20px;
    border-radius: 48px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: 0px;
    text-transform: uppercase;
  }
  .banner-section1 {
    flex-direction: column-reverse;
  }
  .container-section2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .container-section2 h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  .container-section2 p {
    width: 260px;
    text-align: center;
    font-size: 12px;
    flex-wrap: wrap;
  }
  .container-section2 button {
    padding: 11px 20px;
    border-radius: 48px;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
  }
  .container-p .paragraph {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
  }
  .container-section6 p {
    font-size: 16px;
  }
  .container-section4 h1 {
    font-size: 18px;
    text-align: center;
  }
  .container-section5 h1 {
    font-size: 24px;
  }
  .container-section2 img,
  .container-section4 img .container5-img,
  .section6-img img,
  .banner-img img {
    max-width: 100%;
  }

  .container-section4,
  .container-section5,
  .container-section6 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .container-section3 {
    grid-template-columns: repeat(1, 1fr);
  }
  .container-section7 {
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-title,
  .navbar-gamer-other ul {
    flex-direction: column;
    box-shadow: none;
  }
  .footer-img{
    grid-template-columns: repeat(3,1fr);
    padding:5px 0px;
  }
  .card1{
    width: 110px;
    height: auto;
    
  }
  .card1 img{
    width: 50%;
    height: auto;
  }
  .card1 a{
    font-size: 8px;
  }
}

